html, body {
	height: 100%;
	width: 100%;
}
body {
	padding: 0 2.5% 2.5% 2.5%
}
.title {
	text-align: center;
}
.green {
	height: 100%;
	width: 100%;
	background-color: #56836F;
	border: 4px solid #006837;
}
.nav-li {
	display: inline-block;
	font-family: 'Myriad Pro';
	color: white;
	font-size: 48px;
	text-transform: uppercase;
}
.logo {
	float: right;
	margin: 49px 56px 0 0;
}
ul {
	margin-top: 120px;
}
.white {
	color: white;
	margin-left: 20px;
}
nav {
	float: right;
}
header:after {
	content: "";
	display: block;
	clear: right;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}
.box1 {
	margin-top: 63.5px;
	width: 617px ;
	height: 356px;
	background-color: #23206A;
	float: left;
	overflow: hidden;
}
.box2{
	margin-top: 63.5px;
	width: 479px;
	background-color: #23206A;
	height: 356px;
	float:right;
	overflow: hidden;
}
.margin {
	margin: 22px 29px 18px 26px;
}
p {
	font-family: 'Segoe UI';
	color: white;
	font-size: 14px;
}
.clear {
	clear: both
}
.box-image1 {
	float :right;
}
.box-image2 {
	float :left;
}

